.card {
    background-color: $color-page;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 2px 8px 0px #00000022;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0.5rem;
    height: 28.5rem;
    width: 21.8rem;

    &:hover {
        .card__bottom {
            background-color: darken($color-header, $amount: 20%);
        }
    }

}

.card__bottom {
    background-color: $color-header;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: $color-page;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    transition: 1s all;

    width: 100%;

    img,
    span {
        margin: 1rem;
    }

    img {
        width: 1.2rem;
    }

    span {
        font-size: 1.4rem;
        font-weight: 600;
    }
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    padding: 2rem 1rem 0 1rem;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 5.7rem;
        width: 100%;
    }

    h2 {
        color: $color-desc;
        font-size: 1.6rem;
        font-weight: 400;
    }

    h3 {
        background-color: $color-accent;
        border-radius: 5px;
        color: $color-page;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
    }

    p {
        color: $color-desc;
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 2rem;
        max-width: 100%;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}