.btnClose {
    @extend .btn;
    border-radius: 50%;
    position: absolute;
    top: 5rem;
    right: 2.5rem;

    height: 3.8rem;
    width: 3.8rem;
}

.btnFinish {
    @extend .btn;
    font-size: 2.8rem;
    font-weight: 700;
    height: 10%;
    transition: all 1s;

    &:hover {
        background-color: lighten($color-btn, $amount: 15%);
    }
}

.MuiBox-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Montserrat", sans-serif;
    position: relative;
    width: 48.6rem;

    p {
        font-size: 2.7rem;
        font-weight: 700;
    }
}

.MuiList-root {
    margin-top: 3.5rem !important;
}

.priceArea {
    display: flex;
    justify-content: space-between;

    span {
        font-size: 2.8rem;
        font-weight: 700;
    }
}

.purchaseArea {
    background-color: $color-page;
    border-radius: 8px;
    color: $color-btn;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0 1rem;
    height: 4.5rem;
    width: 9rem;

    img {
        margin-right: 1.5rem;
        width: 1.9rem;
    }
}

.shoppingCart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4.5rem 4.5rem 3rem 4.5rem;

    height: 90%;
    width: 100%;
}


@media(max-width: 649px) {

    .btnFinish {
        width: 100%;
    }

    .MuiBox-root {
        align-items: center;
        width: 100vw;
    }

    .MuiList-root {
        width: 100%;
    }

    .shoppingCart__products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(min-width: 650px) and (max-width: 1400px) {
    .MuiBox-root {
        width: 40rem;

        button {
            font-size: 2rem;
        }
    }

    .priceArea span {
        font-size: 2rem;
    }
}