.containerHome {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.productsArea {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem 0;
  width: 70%;
  max-width: 140rem;
}

.headerContainer {
  background-color: #0F52BA;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7rem;
  width: 100%;
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.headerTitle h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}
.headerTitle span {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
  opacity: 0.7;
}

.footerContainer {
  background-color: #EEEEEE;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
.footerContainer p {
  font-size: 1.2rem;
}

.card {
  background-color: #FFFFFF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1333333333);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5rem;
  height: 28.5rem;
  width: 21.8rem;
}

.card__bottom {
  background-color: #0F52BA;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  width: 100%;
}
.card__bottom img,
.card__bottom span {
  margin: 1rem;
}
.card__bottom img {
  width: 1.2rem;
}
.card__bottom span {
  font-size: 1.4rem;
  font-weight: 600;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 2rem 1rem 0 1rem;
}
.card__info div {
  display: flex;
  align-items: center;
}
.card__info h2 {
  color: #2C2C2C;
  font-size: 1.6rem;
  font-weight: 400;
}
.card__info h3 {
  background-color: #373737;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
.card__info p {
  color: #2C2C2C;
  font-size: 1rem;
  font-weight: 300;
}

.btnClose {
  border-radius: 50%;
  position: absolute;
  top: 5rem;
  right: 2.5rem;
  height: 3.8rem;
  width: 3.8rem;
}

.btnFinish {
  font-size: 2.8rem;
  font-weight: 700;
  padding: 2.5rem;
  transition: all 1s;
  width: 100%;
}
.btnFinish:hover {
  background-color: #262626;
}

.test {
  background-color: red;
  margin: 7rem 0;
  height: 15rem;
  width: 20rem;
}

.MuiBox-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 48.6rem;
}
.MuiBox-root p {
  font-size: 2.7rem;
  font-weight: 700;
}

.MuiList-root {
  margin-top: 3.5rem !important;
}

.priceArea {
  display: flex;
  justify-content: space-between;
}
.priceArea span {
  font-size: 2.8rem;
  font-weight: 700;
}

.purchaseArea {
  background-color: #FFFFFF;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0 1rem;
  height: 4.5rem;
  width: 9rem;
}
.purchaseArea img {
  margin-right: 1.5rem;
  width: 1.9rem;
}

.shoppingCart {
  background-color: #0F52BA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.5rem 4.5rem 3rem 4.5rem;
  width: 100%;
}

@media (max-width: 649px) {
  .btnFinish {
    width: 100%;
  }
  .MuiBox-root {
    align-items: center;
    width: 100vw;
  }
  .MuiList-root {
    width: 100%;
  }
  .shoppingCart__products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 650px) and (max-width: 1400px) {
  .MuiBox-root {
    width: 40rem;
  }
  .MuiBox-root button {
    font-size: 2rem;
  }
  .priceArea span {
    font-size: 2rem;
  }
}
.cartItem {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.0509803922);
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1.5rem 2.5rem;
  position: relative;
  width: 100%;
}
.cartItem h2 {
  font-size: 1.4rem;
}
.cartItem img {
  width: 4.6rem;
}
.cartItem p {
  color: #2C2C2C;
  font-size: 1.3rem;
  font-weight: 400;
  max-width: 10rem;
}

.cartItem__removeBtn {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: -5px;
  height: 1.8rem;
  width: 1.8rem;
}
.cartItem__removeBtn img {
  width: 0.8rem;
}

.qtdBox {
  border: 0.3px solid #BFBFBF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  margin-top: 0.3rem;
  padding: 1rem 0.5rem;
  position: relative;
  height: 1.9rem;
  width: 5rem;
}
.qtdBox button {
  all: unset;
  cursor: pointer;
}
.qtdBox button:active {
  transform: scale(1.8);
}
.qtdBox h3 {
  border-left: 0.2px solid #BFBFBF;
  border-right: 0.2px solid #BFBFBF;
  font-weight: 400;
  padding: 0 0.5rem;
}
.qtdBox span {
  position: absolute;
  top: -18px;
  left: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn, .btnClose, .btnFinish, .cartItem__removeBtn {
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font-size: 62.5%;
}

/*# sourceMappingURL=global.css.map */
