@import "./variables.scss";
@import "./home.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/card.scss";
@import "./components/sideBar.scss";
@import "./components/cartItem.scss";
@import "./components/snackBar.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: $color-btn;
    border: none;
    color: $color-page;
    font-family: "Montserrat", sans-serif;
}

button {
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    font-size: 62.5%;
}