@import "./variables.scss";
@import "./home.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/card.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html {
    font-size: 62.5%;
}